.subnavbar {
    min-width: 250px;
}

.subnavbar {
    margin: 10px 10px 0px 0px;
    max-height: 180px;
    border-radius: 10px;
    /*background-color: #007146;*/
    background-color: #605e8ed4
}

.subnavbar_list {
    display: flex;
    flex-direction: column;
    align-content: center;;
    flex-wrap: wrap;
    margin: 10px 0px;

}

.subnavbar_li {
    margin: 10px auto 10px 0px;
}

.subnavbar_link {
    color: white;
    padding: 10px 9px 10px 25px;
    font-size: 18px;
}

.active_link {
    padding: 10px 9px 10px 25px;
    color: black;
    font-size: 18px;

}