.about_friend{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 5px;
    align-items: center;
    margin-left: 10px;

}

.users_avaButton {
    display: flex;
    flex-direction: column;

}

.button {
    display: block;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: #007146;
}

.button:active {
    transform: scale(1.02, 1.02);
    box-shadow: 1px 1px 5px black;
}
.active_link{
   font-weight: 500;
}
.friend_name{
    font-size: 20px;
}
.friend_info{
    margin-top:10px;
    font-size: 14px;
}
.friend_links{
    margin-top:20px;
}
.friend_link{
    font-size: 14px;
    color:blue;
    margin-right: 20px;
}
.friend_link:active{
    color:black;
}
.friend_link span{
    margin-right: 20px;
}