.app_wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
    "header header"
    "nav content";
}

.app_wrapper_content {
    grid-area: content;
    padding: 0 10px 0 0;
    max-width: 100%;
}


a {
    color: black;
}