.navbar {
    grid-area: nav;
    margin-left: 10px;
    height: 610px;
    min-width: 151px;
    /*background-color: #007146;*/
    background: #605e8ed4;
    /*background:#0ac5a8;*/
    border-radius: 10px;
}

.navbar_list {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.navbar_li {
    position: relative;
    margin: 5px auto 10px 0px;
}

.navbar_li:last-child {
    margin-top: 20px

}

.navbar_li:before {
    content: "";
    position: absolute;
    top: 25%;
    left: 0px;
    margin-left: 0px;
    padding: 7px;
    background: url("icons/navbarIcon.png") center no-repeat;
}

.navbar_link {
    color: white;
    padding: 10px 9px 10px 25px;
    font-size: 18px;
}

.active_link {
    color: black;
    font-weight: 500;
    padding: 10px 9px 10px 25px;
    font-size: 18px;
}


.onlineFriend {
    overflow: hidden;
    display: flex;
    height: 180px;
    margin: 0px 5px 0px 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}
