/* .first_img{
  max-height: 200px;
  width: 100%;
} */
.about{
  display: flex;
}
.about__me{
  display: flex;
  flex-direction: column;
  margin-left:20px;
}
.about img{
  width: 200px;
  height: 200px;
}
.about__me p{
  font-size: 18px;
  margin: 10px 0px 10px 0px;
  padding: 0;
}
.post{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-row-gap: 10px;
}
.button{
  align-self: center;
  display: block;
  background-color: #007146;
  text-align: center;
  line-height: 50px;;
  font-size: 18px;
  width:160px;
  height: 50px;
  border:none;
}
.areatext{
  grid-area: area;
  background-color: rgba(0, 0, 0, 0.12);
}
.post_sent{
  grid-area: sent;
  font-size: 14px;
  margin-top:20px
}