.form {
    display: flex;
    width: 100%;
    padding: 5px;
}

.areatext {
    height: 56px;
    flex: 0 1 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.formErrors {
    color: red;
}

.button {
    display: inline-block;
    background: #007146;
    text-align: center;
    line-height: 50px;;
    font-size: 16px;
    width: 120px;
    height: 56px;
    border: none;
    margin-left: 5px;
    color: white;

}

.button:active {
    transform: scale(1.02, 1.02);
    box-shadow: 1px 1px 5px black;
}
